.header {
  width: 100%;
  max-width: 100%;
  padding: 36px 0;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
@media (max-width: 1366px) {
  .header .header-container {
    display: flex;
    align-items: center;
  }
  .header .header-container .header-menu {
    opacity: 0;
    visibility: hidden;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 16px;
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .header .header-container .header-menu .header-menu-item {
    width: 45%;
  }
  .header .header-container .header-menu .menu-item-active::before {
    width: 100%;
  }
  .header .header-container .header-menu.show-menu {
    opacity: 1;
    visibility: visible;
  }
  .header .header-container .change-lang {
    margin-right: 5rem;
    margin-left: auto;
  }
  .header .header-container .change-lang .header-toggle {
    display: block;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-logo {
  margin-left: 2rem;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
}
.header-menu-item {
  position: relative;
  padding: 12px 6px;
  line-height: 18px;
  color: #1a497f;
  cursor: pointer;
}
.header-menu-item font {
  family: "Montserrat";
  size: 13px;
  weight: 500;
}
.header-menu-item:hover {
  color: #081c32;
}
.header .menu-item-active {
  color: #1a497f;
  font-weight: 700;
}
.header .menu-item-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80px;
  height: 4px;
  transform: translateX(-50%);
  background-color: #f58432;
  border-radius: 1rem;
}
.header .change-lang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .change-lang .header-language {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  gap: 2px;
  cursor: pointer;
}
.header .change-lang .header-language span {
  font-weight: 600;
  color: #1a497f;
}
.header .change-lang #enLanguage {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.header .change-lang #enLanguage.show {
  opacity: 1;
  transform: translateX(-100%);
}
.header .change-lang #vnLanguage {
  opacity: 1;
}
.header .change-lang #vnLanguage.hide {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.header .change-lang .header-toggle {
  position: relative;
  display: none;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.header .change-lang .header-toggle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #1a497f;
}
.header .change-lang .header-toggle:hover {
  padding: 19px;
  border: 1px solid #1a497f;
}
