.seminar {
  padding: 16px 0;
  background-color: #f6f9ff;
}
.seminar .heading {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 64px;
}
.seminar .heading span::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2px;
  background-color: #f8a162;
}
.seminar .heading .seminar-heading {
  margin-left: 58px;
  font-size: 32px;
  font-weight: 600px;
  color: #1a497f;
  line-height: 40px;
}
@media (max-width: 430px) {
  .seminar .seminar-content {
    display: flex;
    align-items: center;
    gap: 64px;
    flex-direction: column;
  }
  .seminar .seminar-content .seminar-content-item {
    padding: 32px 64px;
    width: 80%;
  }
}
.seminar-desc {
  padding: 26px 64px;
  font-size: 22px;
  font-weight: 500;
  color: #5694dc;
}
.seminar-content {
  padding: 0 64px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}
.seminar-content-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 16px 0px rgba(5, 8, 78, 0.06);
}
.seminar-content-item .card-header,
.seminar-content-item .card-content,
.seminar-content-item .event-content {
  flex: 1;
}
.seminar-content-item .card-header-heading {
  margin-bottom: 16px;
  font-style: 16px;
  font-weight: 600px;
}
.seminar-content-item .card-header::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2px;
  background: #e6ecfa;
}
.seminar-content-item .card-content {
  width: 100%;
  margin: 32px 0 0 0;
}
.seminar-content-item .card-content-img {
  width: 100%;
}
.seminar-content-item .card-content-body {
  padding: 0 16px;
}
.seminar-content-item .card-content-body .title {
  padding: 16px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.seminar-content-item .card-content-body .footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 42px;
  color: #102e50;
}
.seminar-content-item .card-content-body .footer .location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.seminar-content-item .event-content {
  width: 100%;
  margin: 32px 0 0 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 14px;
  color: #102e50;
}
.seminar-content-item .event-content .event-item {
  padding: 16px;
}
.seminar-content-item .event-content .event-item .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
}
.seminar-content-item .event-content .event-item .footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 42px;
  color: #102e50;
}
.seminar-content-item .event-content .event-item .footer .location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.seminar-content-item .event-content hr {
  width: 100%;
}
.seminar-content-item .event-content hr:last-child {
  display: none;
}
.seminar-content .seminar-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
  padding: 0 64px;
}
.seminar-content .seminar-content-item {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 16px 0px rgba(5, 8, 78, 0.06);
}
.seminar-content .seminar-content-item .card-header,
.seminar-content .seminar-content-item .card-content,
.seminar-content .seminar-content-item .event-content {
  flex: 1;
}
.seminar-content .seminar-content-item .card-header-heading {
  margin-bottom: 16px;
  font-style: 16px;
  font-weight: 600px;
}
.seminar-content .seminar-content-item .card-header::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2px;
  background: #e6ecfa;
}
.seminar-content .seminar-content-item .card-content {
  width: 100%;
  margin: 32px 0 0 0;
}
.seminar-content .seminar-content-item .card-content-img {
  width: 100%;
}
.seminar-content .seminar-content-item .card-content-body {
  padding: 0 16px;
}
.seminar-content .seminar-content-item .card-content-body .title {
  padding: 16px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.seminar-content .seminar-content-item .card-content-body .footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 42px;
  color: #102e50;
}
.seminar-content .seminar-content-item .card-content-body .footer .location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.seminar-content .seminar-content-item .event-content {
  width: 100%;
  margin: 32px 0 0 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 14px;
  color: #102e50;
}
.seminar-content .seminar-content-item .event-content .event-item {
  padding: 16px;
}
.seminar-content .seminar-content-item .event-content .event-item .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
}
.seminar-content .seminar-content-item .event-content .event-item .footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 42px;
  color: #102e50;
}
.seminar-content .seminar-content-item .event-content .event-item .footer .location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.seminar-content .seminar-content-item .event-content hr {
  width: 100%;
}
.seminar-content .seminar-content-item .event-content hr:last-child {
  display: none;
}
