.training {
  padding: 32px 0px;
  background-color: #fff;
  height: auto;
  min-height: 850px;
}
.training .heading {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 64px;
}
.training .heading span::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2px;
  background-color: #f8a162;
}
.training .heading .training-heading {
  margin-left: 58px;
  font-size: 32px;
  font-weight: 600px;
  color: #1a497f;
  line-height: 40px;
}
.training-content {
  position: relative;
  margin-top: 36px;
}
.training-content .training-bkg {
  height: 450px;
  background-image: url("/HomePage/Image/training/Frame 48096214 (1).png");
}
.training-content .training-person {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -40%);
}
.training-content .list-language {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 10px;
  background-color: #fff;
}
.training-content .list-language .item-language {
  cursor: pointer;
}
